<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ExerciseID</key>
        <array>
            <string>BIS001</string>
            <string>BIW001</string>
            <string>BIW002</string>
            <string>BIW003</string>
            <string>BIW004</string>
            <string>BIW005</string>
            <string>BIW006</string>
            <string>BIW007</string>
            <string>BIW008</string>
            <string>BIW009</string>
            <string>BIW010</string>
            <string>BIW011</string>
            <string>BIW012</string>
            <string>BIW013</string>
            <string>BIW014</string>
            <string>BIW015</string>
            <string>BIW016</string>
            <string>BIW017</string>
            <string>BIW018</string>
        </array>
        <key>ExerciseName</key>
        <array>
            <!--  Stretching  -->
            <string>Standing Biceps Stretch</string>
            <!--  With Weights  -->
            <string>Alternate Hammer Curl</string>
            <string>Barbell Curl</string>
            <string>Cable Preacher Curl</string>
            <string>Close Grip Barbell Curl</string>
            <string>Close Grip EZBar Curl</string>
            <string>Dumbbell Alternate Bicep Curl</string>
            <string>Dumbbell Bicep Curl</string>
            <string>EZBar Curl</string>
            <string>Hammer Curls</string>
            <string>Incline Dumbbell Curl</string>
            <string>Incline Hammer Curls</string>
            <string>One Arm Dumbbell Preacher Curl</string>
            <string>Overhead Cable Curl</string>
            <string>Preacher Curl</string>
            <string>Preacher Hammer Dumbbell Curl</string>
            <string>Seated Dumbbell Curl</string>
            <string>Two Arm Dumbbell Preacher Curl</string>
            <string>Wide Grip Barbell Curl</string>
        </array>
        <key>ExerciseType</key>
        <array>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
            <string>Biceps</string>
        </array>
    </dict>
</plist>
