<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ExerciseID</key>
        <array>
            <string>CHS001</string>
            <string>CHS002</string>
            <string>CHS003</string>
            <string>CHW001</string>
            <string>CHW002</string>
            <string>CHW003</string>
            <string>CHW004</string>
            <string>CHW005</string>
            <string>CHW006</string>
            <string>CHW007</string>
            <string>CHW008</string>
            <string>CHW009</string>
            <string>CHW010</string>
            <string>CHN001</string>
            <string>CHN002</string>
            <string>CHN003</string>
            <string>CHN004</string>
            <string>CHN005</string>
            <string>CHN006</string>
        </array>
        <key>ExerciseName</key>
        <array>
            <!-- Stretching -->
            <string>Behind Head Chest Stretch</string>
            <string>Dynamic Chest Stretch</string>
            <string>Elbows Back</string>
            <!--  With Weights -->
            <string>Barbell Bench Press</string>
            <string>Bent Arm Dumbbell Pullover</string>
            <string>Decline Barbell Bench Press</string>
            <string>Decline Dumbbell Bench Press</string>
            <string>Decline Dumbbell Flyes</string>
            <string>Dumbbell Bench Press</string>
            <string>Dumbbell Flyes</string>
            <string>Incline Barbell Bench Press</string>
            <string>Incline Dumbbell Flyes</string>
            <string>Incline Dumbbell Press</string>
            <!--  Without Weights -->
            <string>Clock Push Up</string>
            <string>Dips</string>
            <string>Drop Push</string>
            <string>Push Up to Side Plank</string>
            <string>Push Up Wide</string>
            <string>Push Ups</string>
        </array>
        <key>ExerciseType</key>
        <array>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
            <string>Chest</string>
        </array>
    </dict>
</plist>
