<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExerciseID</key>
	<array>
		<string>FAW001</string>
		<string>FAW002</string>
		<string>FAW003</string>
		<string>FAW004</string>
		<string>FAW005</string>
		<string>FAW006</string>
		<string>FAW007</string>
		<string>FAW008</string>
		<string>FAW009</string>
		<string>FAW010</string>
		<string>FAW011</string>
	</array>
	<key>ExerciseName</key>
	<array>
		<string>Cable Wrist Curl</string>
		<string>Finger Curls</string>
		<string>Palms Up Barbell Wrist Curl Over A Bench</string>
		<string>Palms Up Dumbbell Wrist Curl Over A Bench</string>
		<string>Seated Dumbbell Palms Down Wrist Curl</string>
		<string>Seated Dumbbell Palms Up Wrist Curl</string>
		<string>Seated One Arm Dumbbell Palms Down Wrist Curl</string>
		<string>Seated One Arm Dumbbell Palms Up Wrist Curl</string>
		<string>Seated Palm Up Barbell Wrist Curl</string>
		<string>Seated Palms Down Barbell Wrist Curl</string>
		<string>Wrist Rotations With Straight Bar</string>
	</array>
	<key>ExerciseType</key>
	<array>
		<string>Forearms</string>
		<string>Forearms</string>
		<string>Forearms</string>
		<string>Forearms</string>
		<string>Forearms</string>
		<string>Forearms</string>
		<string>Forearms</string>
		<string>Forearms</string>
		<string>Forearms</string>
		<string>Forearms</string>
		<string>Forearms</string>
	</array>
</dict>
</plist>
