<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExerciseID</key>
	<array>
		<string>LAS001</string>
		<string>LAS002</string>
		<string>LAS003</string>
		<string>LAS004</string>
		<string>LAW001</string>
		<string>LAW002</string>
		<string>LAW003</string>
		<string>LAW004</string>
		<string>LAN001</string>
		<string>LAN002</string>
		<string>LAN003</string>
		<string>LAN004</string>
	</array>
	<key>ExerciseName</key>
	<array>
		<string>Chair Lower Back Stretch</string>
		<string>Dynamic Back Stretch</string>
		<string>One Arm Against Wall</string>
		<string>Overhead Lat</string>
		<string>Close Grip Front Lat Pulldown</string>
		<string>Elevated Cable Rows</string>
		<string>Straight Arm Pulldown</string>
		<string>Wide Grip Lat Pulldown</string>
		<string>Chin Up</string>
		<string>Pull Ups</string>
		<string>VBar Pull Up</string>
		<string>Wide Grip Rear Pull Up</string>
	</array>
	<key>ExerciseType</key>
	<array>
		<string>Lats</string>
		<string>Lats</string>
		<string>Lats</string>
		<string>Lats</string>
		<string>Lats</string>
		<string>Lats</string>
		<string>Lats</string>
		<string>Lats</string>
		<string>Lats</string>
		<string>Lats</string>
		<string>Lats</string>
		<string>Lats</string>
	</array>
</dict>
</plist>
