<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExerciseID</key>
	<array>
		<string>LES001</string>
		<string>LES002</string>
		<string>LES003</string>
		<string>LES004</string>
		<string>LEW001</string>
		<string>LEW002</string>
		<string>LEW003</string>
		<string>LEW004</string>
		<string>LEW005</string>
		<string>LEW006</string>
		<string>LEW007</string>
		<string>LEW008</string>
		<string>LEN001</string>
		<string>LEN002</string>
		<string>LEN003</string>
		<string>LEN004</string>
		<string>LEN005</string>
		<string>LEN006</string>
		<string>LEN007</string>
	</array>
	<key>ExerciseName</key>
	<array>
		<string>All Fours Quad Stretch</string>
		<string>Frog Hops</string>
		<string>Sit Squats</string>
		<string>Standing Hip Flexors</string>
		<string>Barbell Hack Squat</string>
		<string>Barbell Lunge</string>
		<string>Barbell Squat</string>
		<string>Dumbbell Lunges</string>
		<string>Dumbbell Squat</string>
		<string>Front Barbell Squat</string>
		<string>Leg Extensions</string>
		<string>Leg Press</string>
		<string>Bench Jump</string>
		<string>Bodyweight Squat</string>
		<string>Double Leg Butt Kick</string>
		<string>Freehand Jump Squat</string>
		<string>Rope Jumping</string>
		<string>Scissors Jump</string>
		<string>Side Standing Long Jump</string>
	</array>
	<key>ExerciseType</key>
	<array>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
		<string>Legs</string>
	</array>
</dict>
</plist>
