<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExerciseID</key>
	<array>
		<string>LOS001</string>
		<string>LOS002</string>
		<string>LOS003</string>
		<string>LOS004</string>
		<string>LOS005</string>
		<string>LOS006</string>
		<string>LOW001</string>
		<string>LOW002</string>
		<string>LON001</string>
		<string>LON002</string>
	</array>
	<key>ExerciseName</key>
	<array>
		<string>Cat Stretch</string>
		<string>Dancer&apos;s Stretch</string>
		<string>Hug A Ball</string>
		<string>Hug Knees To Chest</string>
		<string>Pelvic Tilt Into Bridge</string>
		<string>Superman</string>
		<string>Barbell Deadlift</string>
		<string>Rack Pulls</string>
		<string>Hyperextensions With No Hyperextension Bench</string>
		<string>Hyperextensions</string>
	</array>
	<key>ExerciseType</key>
	<array>
		<string>Lower Back</string>
		<string>Lower Back</string>
		<string>Lower Back</string>
		<string>Lower Back</string>
		<string>Lower Back</string>
		<string>Lower Back</string>
		<string>Lower Back</string>
		<string>Lower Back</string>
		<string>Lower Back</string>
		<string>Lower Back</string>
	</array>
</dict>
</plist>
