<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExerciseID</key>
	<array>
		<string>TRW001</string>
		<string>TRW002</string>
		<string>TRW003</string>
		<string>TRW004</string>
		<string>TRN001</string>
	</array>
	<key>ExerciseName</key>
	<array>
		<string>Barbell Shrug Behind The Back</string>
		<string>Barbell Shrug</string>
		<string>Cable Shrugs</string>
		<string>Dumbbell Shrug</string>
		<string>Scapular Pull Up</string>
	</array>
	<key>ExerciseType</key>
	<array>
		<string>Traps</string>
		<string>Traps</string>
		<string>Traps</string>
		<string>Traps</string>
		<string>Traps</string>
	</array>
</dict>
</plist>
